@import "../../scss/index.scss";
.navBarMenu {
  display: flex;
  align-items: center;
}
.FormatText a {
  text-decoration: none !important;
  color: $colorLetraMenu !important;
  font-size: medium;
}
.FormatText a:hover {
  color: $colorletraHover !important;
  font-weight: bold;
}
.ContainerNavbar {
  align-items: center !important;
  justify-content: center !important;
}
