@import "../../scss/index.scss";
.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.login {
  background-color: $colorText;
  display: flex;
  flex-direction: column;
  font-size: 0em + calc(20px / $default-font-size);
  font-weight: bold;
  font-family: $font-family;
  max-width: 600px;
  box-shadow: 0px 0px 0px 3px rgb(0 0 0 / 20%);
  padding: 25px;
  border-radius: 15px;
  &_input {
    flex: 1;
    &_btn {
      width: 100%;
      background-color: $color-1 !important;
      &:hover {
        background-color: $color-2 !important;
      }
    }
  }
  &_check {
    display: flex;
    justify-content: center;
    input {
      margin-right: 15px;
    }
  }
}
