$default-font-size: 16px;
$font-family: "arial";

//Colors

$color-subtitulo: #4aebdd;
$colorHeader: #fff;
$color-1: #370050;
$color-2: #4a0795;
$colorText: #ffffffde;
$colorTextHover: #ffffff;

//Background
$background-1: #7700ffab;
$background-2: #7700ff;

//Color Menu
$colorLetraMenu: rgb(255, 255, 255);
$colorLetraMenu: #555;
$colorletraHover: rgba(6, 255, 131, 0.788);

// color line pages
$colorSeparador: rgba(91, 16, 145, 1);
$colorSeparador2: rgba(44, 142, 233, 859);
