$default-font-size: 16px;
$font-family: "arial";

//Colors

$color-subtitulo: #4aebdd;
$colorHeader: #3b01a1;
$color-1: #fff;
$color-2: #fff;

//Background
$background-1: #fff;
$background-2: #fff;

//Color Menu
//$backgroundMenu: #313435b6;
$colorLetraMenu: #FFF;
$colorletraHover: rgba(6, 255, 131, 0.788);
