$default-font-size: 16px;
$font-family: "arial";

//Colors

$color-subtitulo: #4aebdd;
// $colorHeader: #3b01a1;
$colorHeader: #fff;
$color-1: #370050;
$color-2: #7100f1;

//Background
$background-1: #7700ff;
$background-2: #8f005f;

//Color Menu
//$backgroundMenu: #313435b6;
$colorLetraMenu: rgb(255, 255, 255);
$colorLetraMenu: #555;
$colorletraHover: rgba(6, 255, 131, 0.788);
